.calculator-display{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 400px;
    height: 100px;
    font-family: sans-serif;
    color: white;
    background-color: black;
    font-size: 50px;
    font-weight: 200;
}
.display-text {
    padding-right: 10px;
}