button{
    cursor: pointer;
    margin: 0;
    padding: 0;
    /* display: flex; */
}

.big-button {
    width: 300px;
    height: 75px;
    font-size: 40px;
    font-weight: 200;
    background-color: rgb(255, 255, 255); 
}

.number-button {  
    width: 100px;
    height: 75px;
}

.red-button {
    background-color: rgb(199, 20, 20);
    font-size: 60px;
    color: white;
    font-weight: 200;
    text-align: center;
  
}
.white-button {
    background-color: white;
    font-size: 40px;
    color: black;
    font-weight: 300;
}

.button-0 {
    font-weight: 300;
}